* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 50px;
    text-align: center;
    background-color: #27353f;
    color: #ffff;
}

section {
    min-height: 1000px;
    background: url("2242810.jpg")center/cover no-repeat;
}

.myProjects a{
    margin-top: 30px;
    color: #39bedc
}